div {
    width: 1300px;
    height: 775px;
    background-color: #11222;
    background-image:url(https://img.freepik.com/free-photo/minimalist-interior-design_23-2150870793.jpg?w=1380&t=st=1706791790~exp=1706792390~hmac=dc0194893c93d25275a1d44eec235bae434385a885260caa4458a90443687a2d);
    
 background-size; contain;
 background-repeat; no repeat;
 background-position: center;
 background position; center ;









}



